@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
body {
  background: #f2f2f2;
  color: #333;
  font-family: "roboto";
}
a {
  color: #000;
  text-decoration: none;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
}
nav a:not(:first-child){
  margin-left: 20px;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
}
.not-found {
  text-align: center;
}
.not-found a {
  color: #1a1a1a;
  text-decoration: underline;
}
